/* Pop-up second layer end */
.alert-banner {
    position: relative;
    padding: 0.5rem 1.5rem 0.5rem 0.5rem;
    margin: 5px 0;
    white-space: normal;
}

.alert-banner p {
    margin: 0;
}

.py-error {
    background-color: #ffe9e8;
    border: solid;
    border-color: #f0625f;
    color: #9d041c;
}

.py-warning {
    background-color: rgb(255, 244, 229);
    border: solid;
    border-color: #ffa016;
    color: #794700;
}

.alert-banner.py-error > #alert-close-button {
    color: #9d041c;
}

.alert-banner.py-warning > #alert-close-button {
    color: #794700;
}

#alert-close-button {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    cursor: pointer;
    background: transparent;
    border: none;
}